*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-image: url('../background.jpg');
    background-size: cover;
}
.logo-nav{
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 95px;
}
.logo-container{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    position: absolute;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    background-color: white;
        background-image: url('../background.jpg');
    background-size: cover;
}
.nav-bar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
}
.nav-bar{
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.yellow-line {
    height: 6px;
    background-color: #ffb200;

}
.elements-nav{
    font-weight: bold;
    font-size: 30px;
    margin: 10px 26px 9px 43px;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
.elements-nav:hover{
    color: #ffb200;
}
.signup {
    position: fixed;
    top: 10px;
    right: 140px;
}
.signup-color{
    background-color: #ffb200;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.signup-color:hover{
    background-color: white;
    color: #ffb200;
}
.login{
    position: fixed;
    top: 10px;
    right: 10px;
}
.login-color{
    background-color: black;
    color: #ffb200;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.login-color:hover{
    background-color: #ffb200;
    color: black;
}
.title{
    text-align: center;
    font-size: 86px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.characters-section, .techniques-section, .objects-section, .races-section, .places-section{
    padding-top: 200px;
    margin-top: -200px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.character, .technique, .object, .race, .place{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.character-info{
    text-align: justify;
    margin-left: 20px;
}
.character img, .technique img, .object img, .race img, .place img{
    max-width: 250px;
    max-height: 250px;
    border: 2px solid black;
    transition: transform 0.3s;
}
.character img:hover, .technique img:hover, .object img:hover, .race img:hover, .place img:hover{
    transform: scale(1.1);
}
.character-name, .technique-name, .object-name, .race-name, .place-name{
    color: white;
    display: inline-block;
    background-color: black;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 10px;
}
.footer-text{
    position: relative;
    height: 195px;
    color: #acacac;
    background-color: black;
    text-align: right;
}
.footer-labels{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 40px;
    font-size: 14px;
}
.logo-footer {
    float: left;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 70px;
    width: auto;
    height: 60px;
}
#scrollToTopBtn{
    position: fixed;
    bottom: 115px;
    right: 20px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
#scrollToTopBtn img{
    width: 109px;
    height: auto;
}
.search-container{
    position: fixed;
    top: 60px;
    right: 30px;
}
#searchBox{
    padding: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: none;
    outline: none;
    background-color: gainsboro;
}
.carousel-container{
    width: auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 75px;
}
.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img{
    max-width: 50%;
    height: auto;
    border: 4px solid black;
}
